@import "../bower_components/bootstrap/less/bootstrap";
@import (inline) "../bower_components/jquery-ui/themes/smoothness/jquery-ui.css";

.inline {
  display:inline;
}

.skills {
  li{
    margin: 10px 0;
  }
}

#footer {

  margin-top: 100px;
}

.image {
  img {
    width: 100%;
  }
}

#site-controls {
  .active{
    background-color: darkgrey;
  }
}
#site-container {
  .mix{
    display: none;
  }
}

#images {
  max-height: 380px;
  overflow-y: scroll;
  overflow-x: hidden;
}