{% extends "layout.html" %}

{% block title %}About{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>About</h2>
            <p>This site acts as a data input area for assets and information used by other sites associated with <a href="http://rath3r.com/">rath3r.com</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Credits</h2>
            <ul>
                <li>
                    <img src="/images/icons/offline.svg" alt="Offline"/>
                    <p>The <a href="https://thenounproject.com/term/offline/186897/">offline</a> icon comes from the <a href="https://thenounproject.com/">Noun Project</a> and was created by <a href="https://thenounproject.com/thomassoto7/">Thomas Soto</a>.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}