{% extends "layout.html" %}

{% block title %}Skills{% endblock %}

{% block head %}

{{ parent() }}

{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <h2>Skills</h2>

        <ul class="skills">
            {% for item in skills %}
            <li>
                <form class="form-inline" action="/skills/delete" method="post">
                    <div class="form-group">
                        <label>Title:</label>
                        <p class="inline">{{ item.title }}</p>
                        <label>First used:</label>
                        <p class="inline">{{ item.started|date("m/d/Y") }}</p>
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </li>
            {% endfor %}
        </ul>
        {% include 'forms/addSkills.html' %}
    </div>
</div>

{% endblock %}